.tab {
  display: none;
}

body {
  min-width: 750px;
}

table {
  width: 100%;
}

thead,
td {
  padding: 15px;
}

thead {
  background-color: rgb(225, 225, 225);
  font-family: 'Nunito', sans-serif;
}

tbody {
  padding: 15px;
  background-color: rgb(240, 240, 240);
  font-family: 'Nunito', sans-serif;
}

.table_columns {
  text-align: left;
}

#load_page {
  height: 15px;
  width: 748px;
  background-color: rgba(51, 103, 214, 1);
  color: rgba(218, 220, 224, 1);
  border-radius: 10px;
  margin-left: 2px;
  margin-right: 2px;
  overflow: hidden;
  padding: 15px;
  display: block;
  font-family: 'Nunito', sans-serif;
}

header {
  height: 15px;
  width: 748px;
  background-color: rgba(51, 103, 214, 1);
  color: rgba(218, 220, 224, 1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-left: 2px;
  margin-right: 2px;
  overflow: hidden;
  padding: 15px;
  display: none;
}

#quotes {
  display: inline-block;
  cursor: pointer;
  font-family: 'Nunito', sans-serif;
}

#line_break {
  display: inline-block;
}

#despair_button {
  float: right;
  display: inline-block;
  transition: all 0.4s ease-in-out;
}

#despair_button:hover {
  cursor: pointer;
  transform: scale(1.35);
}

#user_name {
  display: inline-block;
  color: rgba(218, 220, 224, 1);
  font-family: 'Nunito', sans-serif;
}

#user_icon {
  display: inline-block;
  margin-right: 6px;
  color: rgba(218, 220, 224, 1);
}

footer {
  height: 15px;
  width: 748px;
  background-color: rgba(51, 103, 214, 1);
  color: rgba(218, 220, 224, 1);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-left: 2px;
  margin-right: 2px;
  overflow: hidden;
  padding: 15px;
  display: none;
}

#footer_content {
  text-align: center;
}

#reload_button {
  padding-left: 25px;
  padding-right: 25px;
  transition: all 0.4s ease-in-out;
}

#gann_button {
  padding-left: 25px;
  padding-right: 25px;
  transition: all 0.4s ease-in-out;
}

#contact_button {
  padding-left: 25px;
  padding-right: 25px;
  transition: all 0.4s ease-in-out;
}

#reload_button:hover {
  cursor: pointer;
  transform: scale(1.35);
}

#gann_button:hover {
  cursor: pointer;
  transform: scale(1.35);
}

#contact_button:hover {
  cursor: pointer;
  transform: scale(1.34);
}

#connection_alert {
  height: 15px;
  width: 748px;
  background-color: rgba(51, 103, 214, 1);
  color: rgba(218, 220, 224, 1);
  border-radius: 10px;
  margin-left: 2px;
  margin-right: 2px;
  overflow: hidden;
  padding: 15px;
  display: none;
}

#error_icon {
  display: inline-block;
}

#error_text {
  display: inline-block;
  margin-left: 10px;
}

#reload_button_error {
  display: inline-block;
  float: right;
  transition: all 0.4s ease-in-out;
}

#link_button_error {
  display: inline-block;
  float: right;
  margin-right: 25px;
  transition: all 0.4s ease-in-out;
}

#reload_button_error:hover {
  cursor: pointer;
  transform: scale(1.34);
}

#link_button_error:hover {
  cursor: pointer;
  transform: scale(1.34);
}
